.home {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.home-header {
    text-align: center;
}

.home-header-lead {
    text-align: center;
    padding-bottom: 40px;
}

.grid-container {
    margin-top: -150px;
}