<h2 mat-dialog-title class="header-form">{{data.formType}}</h2>

<mat-dialog-content>
    <table class="table-form">
        <tr>
            <td>
                <mat-form-field class="input-form">
                    <input 
                    matInput placeholder="Username" 
                    [(ngModel)]="data.username" 
                    required type="text"
                    >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="input-form">
                    <input 
                    matInput type='password' 
                    placeholder="Password" 
                    [(ngModel)]="data.password"
                    required type="password"
                    >
                </mat-form-field>
            </td>
        </tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" class="close-button-form">Close</button>
    <button mat-button [mat-dialog-close]="data" class="confirm-button-form" cdkFocusInitial>
        {{data.formType}}
    </button>
    
</mat-dialog-actions>